anyconfig==0.10.1
arrow==1.2.1
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
binaryornot==0.4.4
black==21.12b0
cachetools==4.2.4
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.10
click==7.1.2
colorama==0.4.4
cookiecutter==1.7.3
copulas==0.5.0
coverage[toml]==6.2
ctgan==0.4.3
cycler==0.11.0
decorator==5.1.0
#deepecho==0.3.0.post1
dynaconf==3.1.7
executing==0.8.2
#Faker==9.9.1
fonttools==4.28.5
fsspec==2021.11.1
gitdb==4.0.9
gitpython==3.1.18
gower
graphviz==0.19.1
htmlmin==0.1.12
idna==3.3
ImageHash==4.2.1
#ipython==8.0.1
jedi==0.18.1
Jinja2==3.0.3
jinja2-time==0.2.0
jmespath==0.10.0
joblib==1.0.1
jupyter-client==6.1.12
jupyter-core==4.9.1
kedro==0.17.6
kedro-viz
kiwisolver==1.3.2
llvmlite==0.38.0
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
missingno==0.5.0
multimethod==1.6
mypy-extensions==0.4.3
networkx==2.6.3
numba==0.55.0
numpy==1.21.5
packaging==21.3
pandas==1.1.4
pandas-profiling==3.1.0
parso==0.8.3
pathspec==0.9.0
pep517==0.12.0
phik==0.12.0
pickleshare==0.7.5
Pillow==9.0.0
pip-tools==6.4.0
platformdirs==2.4.1
pluggy==0.13.1
poyo==0.5.0
prompt-toolkit==3.0.24
psutil==5.9.0
pure-eval==0.2.1
pycox
pydantic==1.9.0
Pygments==2.11.2
pyparsing==3.0.6
python-dateutil==2.8.2
python-json-logger==2.0.2
python-slugify==5.0.2
pyts==0.12.0
pytz==2021.3
pywin32==303;platform_system == "Windows"
pywinpty==1.1.6;platform_system == "Windows"
pyyaml==5.4.1
pyzmq==22.3.0
qtconsole==5.2.2
qtpy==2.0.0
rdt==0.5.0
regex==2021.11.10
#requests==2.25.1
rope==0.21.1
scikit-learn==0.24.2
scipy==1.5.4
sdmetrics==0.3.1
sdv==0.11.0
send2trash==1.8.0
six==1.16.0
sklearn==0.0
smmap==5.0.0
stack-data==0.1.4
tangled-up-in-unicode==0.1.0
text-unidecode==1.3
threadpoolctl==3.0.0
toml==0.10.2
tomli==1.2.3
toposort==1.7
torch==1.10.1
torchvision==0.11.2
tornado==6.1
tqdm==4.62.3
traitlets==4.3.3
typed-ast==1.5.1
typing-extensions==4.0.1
urllib3==1.26.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
wheel==0.36.2
widgetsnbextension==3.5.2
zipp==3.6.0
seaborn
sklearn_pandas
pycox
pytest
pytest-cov
hypothesis